h1 {
    font-size: 45px;
    font-family: fantasy;
}

.profilepic{
    border-radius: 500px 500px 500px 500px ;/*clockwise from top*/
    border: 5px;
    border-color: rgb(147, 102, 206);
    margin-bottom: 50px;

}


img{
    height: 150px ;
    width: 300px;

}

header {
    background-color: rgb(90, 190, 177);
    padding-left: 50%;  
    padding-top: 25px;
    margin: -30px -10px 0px -10px; /*top, right, bottom, left*/

}

body {
    background-color: rgb(147, 102, 206);
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-evenly;
}