.progress {
    margin: 10px;
    width: 250px;
    height: 30px;
}

.main-space {
    display: flex;
    align-items: flex-start;

}

.skill-breakdown {
    margin: 150px;
    flex: 1;
}

.skill-breakdown p {
margin-left: 10px;

}

.side-images{
    display: flex;
    flex-wrap: wrap;
    width: 100rem;
    margin: 125px;
    align-content: space-between;
}

.side-images img{
    margin: 5px;

}